
html{
	scroll-behavior: smooth;
}

body{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Gfx/VexleStudio/SlideShow_Home/Landieval_Scene.png);
    background-color: white;
}

@media only screen and (max-width: 450px){
    .Game_Cover_Pc{
        display: none;
    }

    .Game_Covers_Phone{
        display: block;
        width: 100%;
    }

    .SlideShow_Bar{
        height: 650px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/SlideShow_Home/Landieval_Scene.png);
        background-position: center;
    }

    .Events_Bar{
        height: 700px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/Events/Events_Bg_Phones.png);
        z-index: 1;
    }

    .Events_Nav{
        width: 100%;
        max-height: 35px;
        text-align: center;
        position: relative;
        top: 30px;
        margin-bottom: 20px;
    }

    .Event_Bar_Text{
        margin-left: 0px;
        margin-right: 0px;
        color: black;
        font-size: calc(9px + .5vw);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .Main_Text{
        font-weight: bold;
    }

    .Games_Text{
        font-weight: normal;
    }

    .Streams_Text{
        font-weight: normal;
    }

    .Updates_Text{
        font-weight: normal;
    }

    .Events_Nav_Button{
        height: calc(30px + .5%);
        width: calc(15px + .5%);
        margin: 2px;
        opacity: 0.7;
    }

    .Events_Div_Pc{
        display: none;
    }

    .Events_Div_Phone{
        display: none;
    }

    .Events_Div_Phone_2{
        display: block;
    }

    .Events_Phone_Div{
        width: 100%;
        height: calc(450px + 5vw);
        text-align: center;
    }

    .Events_Img_Phone{
        display:inline-block;
        height: calc(250px - 10px);
        width: calc(170px - 10px);
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        filter: drop-shadow(.5px .5px 2px rgb(204, 204, 204));
    }

    .Games_Covers{
        margin-top: 50px;
        height: 700px;
        width: 100%;
        background-image: url(Css/Gfx/VexleStudio/Games_Home/Games_Home_Landieval_Phone.png);
        z-index: 1;
    }

    .Games_Home{
        background-image: url(Gfx/VexleStudio/Games_Home/Games_Home_Landieval_Phone.png);
        height: 700px;
        width: 100%;
    }
}

@media only screen and (max-width: 995px) and (min-width: 450px){

    .Game_Cover_Pc{
        display: none;
    }

    .Game_Covers_Phone{
        display: block;
        width: 100%;
    }

    .SlideShow_Bar{
        height: 650px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/SlideShow_Home/Landieval_Scene.png);
        background-position: center;
    }

    .Events_Bar{
        height: 800px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/Events/Events_Bg_Phones_1.png);
        z-index: 1;
    }

    .Events_Nav{
        width: 100%;
        max-height: 35px;
        text-align: center;
        position: relative;
        top: 30px;
        margin-bottom: 20px;
    }

    .Event_Bar_Text{
        margin-left: calc(10px - 1vw);
        margin-right: calc(10px - 1vw);
        color: black;
        font-size: calc(12px + .5vw);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .Main_Text{
        font-weight: bold;
    }

    .Games_Text{
        font-weight: normal;
    }

    .Streams_Text{
        font-weight: normal;
    }

    .Updates_Text{
        font-weight: normal;
    }

    .Events_Div_Pc{
        display: none;
    }

    .Events_Div_Phone{
        display: block;
    }

    .Events_Div_Phone_2{
        display: none;
    }

    .Events_Phone_Div{
        width: 100%;
        height: 450px;
        text-align: center;
    }

    .Events_Img_Phone{
        display:inline-block;
        max-height: 250px;
        min-height: 150px;
        max-width: 150px;
        min-width: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        filter: drop-shadow(.5px .5px 2px rgb(204, 204, 204));
    }

    .Games_Covers{
        margin-top: 50px;
        height: 700px;
        width: 100%;
        background-image: url(Css/Gfx/VexleStudio/Games_Home/Games_Home_Landieval_Phone.png);
        z-index: 1;
    }

    .Games_Home{
        background-image: url(Gfx/VexleStudio/Games_Home/Games_Home_Landieval_Phone.png);
        height: 700px;
        width: 100%;
    }
}

@media only screen and (min-width: 996px){

    .SlideShow_Bar{
        height: 960px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/SlideShow_Home/Landieval_Scene.png);
    }

    .Events_Bar{
        /*background-color: white;*/
        height: 1000px;
        width: 100%;
        background-image: url(Gfx/VexleStudio/Events/Events_Bg.png);
        z-index: 1;
        border-top: 20px white solid;
    }

    .Events_Nav{
        width: 100%;
        height: 35px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Event_Bar_Text{
        margin-left: 25px;
        margin-right: 25px;
        color: black;
        font-size: 22px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .Main_Text{
        font-weight: bold;
    }

    .Games_Text{
        font-weight: normal;
    }

    .Streams_Text{
        font-weight: normal;
    }

    .Updates_Text{
        font-weight: normal;
    }

    .Event_Bar_Text:hover{
        filter: drop-shadow(.5px .5px 2px rgb(204, 204, 204));
        cursor: pointer;
    }

    .Event_Bar_Text:active{
        filter: drop-shadow(.5px .5px 2px rgb(128, 128, 128));
    }

    .Events_Div_Pc{
        display: block;
    }

    .Events_Div_Phone{
        display: none;
    }

    .Events_Div_Phone_2{
        display: none;
    }

    .Main_Event_Cards{
        height: 150px;
        width: 800px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(.5px .5px 2px rgb(204, 204, 204));
    }

    .Game_Cards_Div{
        display: none;
    }

    .Streams_Cards_Div{
        display: none;
    }

    .Updates_Cards_Div{
        display: none;
    }

    .Main_Event_Cards:hover{
        filter: drop-shadow(.5px .5px 2px rgb(128, 128, 128));
    }

    .Main_Event_Cards_0{
        background-image: url(Gfx/VexleStudio/Events/Main_Cards/Main_Card_0.png);
    }

    .Main_Event_Cards_1{
        background-image: url(Gfx/VexleStudio/Events/Main_Cards/Main_Card_1.png);
    }

    .Main_Event_Cards_2{
        background-image: url(Gfx/VexleStudio/Events/Main_Cards/Main_Card_2.png);
    }

    .Main_Event_Cards_3{
        background-image: url(Gfx/VexleStudio/Events/Main_Cards/Main_Card_3.png);
    }

    .Games_Cards_0{
        background-image: url(Gfx/VexleStudio/Events/Games_Cards/Games_Cards_0.png);
    }

    .Games_Cards_1{
        background-image: url(Gfx/VexleStudio/Events/Games_Cards/Games_Cards_1.png);
    }
    
    .Games_Cards_2{
        background-image: url(Gfx/VexleStudio/Events/Games_Cards/Games_Cards_2.png);
    }

    .Games_Cards_3{
        background-image: url(Gfx/VexleStudio/Events/Games_Cards/Games_Cards_3.png);
    }

    .Streams_Cards_0{
        background-image: url(Gfx/VexleStudio/Events/Streams_Cards/Streams_Card_0.png);
    }

    .Streams_Cards_1{
        background-image: url(Gfx/VexleStudio/Events/Streams_Cards/Streams_Card_1.png);
    }

    .Streams_Cards_2{
        background-image: url(Gfx/VexleStudio/Events/Streams_Cards/Streams_Card_2.png);
    }

    .Streams_Cards_3{
        background-image: url(Gfx/VexleStudio/Events/Streams_Cards/Streams_Card_3.png);
    }

    .Updates_Cards_0{
        background-image: url(Gfx/VexleStudio/Events/Updates_Cards/Updates_Cards_0.png);
    }

    .Updates_Cards_1{
        background-image: url(Gfx/VexleStudio/Events/Updates_Cards/Updates_Cards_1.png);
    }

    .Updates_Cards_2{
        background-image: url(Gfx/VexleStudio/Events/Updates_Cards/Updates_Cards_2.png);
    }

    .Updates_Cards_3{
        background-image: url(Gfx/VexleStudio/Events/Updates_Cards/Updates_Cards_3.png);
    }

    .Games_Home{
        height: 1000px;
        /*width: 100%;*/
        background-image: url(Gfx/VexleStudio/Games_Home/Games_Home_Landieval.png);
    }

    .Games_Covers{
        position: relative;
        margin-top: 150px;
        left: 10px;
    }

    .Game_Cover_Pc{
        display: block;
    }

    .Game_Covers_Phone{
        display: none;
    }

}