
@media only screen and (min-width: 995px){

    .NavBar_Pc{
        display: block;
    }
    
    .NavBar_Phone{
        display: none;
    }

    .NavBar{
        background: rgba(0, 0, 0, 100%);
        height: 70px;
        width: 100%;
    }

    .Logo_NavBar{
        height: 50px;
        width: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .NavBar_Text{
        position: relative;
        top: 10px;
        text-decoration: none;
        color: white;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .NavBar_Text:hover{
        text-decoration: none;
        color: rgb(218, 218, 218);
        margin-left: 40px;
        margin-right: 40px;
    }

    .Social_Media_Bar{
        height: 70px;
        width: 100%;
        background-color: rgb(10, 10, 10);
        text-align: center;
    }

    .Social_Media_Circle{
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
    }

    .Footer{
        height: 50px;
        width: 100%;
        background-color: black;
        text-align: center;
    }

    .Footer_Text{
        color: white;
    }

}

@media only screen and (max-width: 995px){

    .NavBar_Pc{
        display: none;
    }
    
    .NavBar_Phone{
        display: block;
    }

    .NavBar{
        background-color: black;
        min-height: 50px;
        width: 100%;
    }

    .Logo_NavBar{
        height: 35px;
        width: 35px;
        margin-right: 10px;
        float: right;
        margin-top: 5px;
    }
    
    .NavBar_Text{
        text-decoration: none;
        color: white;
        margin-top: 5px;
    }

    .NavBar_Text:hover{
        text-decoration: none;
        color: rgb(218, 218, 218);
    }

    .NavBar_Phone_Drop{
        display: none;
        background-color: black;
    }

    .NavBar_Toggle{
        margin-top: 10px;
        height: 30px;
        width: 30px;
    }

    .Social_Media_Bar{
        width: 100%;
        background-color: rgb(10, 10, 10);
        text-align: center;
    }

    .Social_Media_Circle{
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
    }

    .Footer{
        width: 100%;
        background-color: black;
        text-align: center;
    }

    .Footer_Text{
        color: white;
    }
}